body,html{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x:hidden;
  overflow: initial;
  position: relative;
  font-size: 62.5%;
}

#pageTop{
  padding-bottom: 5%;
}

.container{
  max-width: 1300px;
}

#gallery{
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: auto;
}

#filterBar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filterBtns{
  height: 20%;
  display: flex;
  align-items: center;
}

.filterBtns:hover{
  cursor: pointer;
}

#filterHL{
  position: absolute;
  background-color: black;
  opacity: .25;
}

#photoIcons{
  padding: 10px;
  overflow: auto;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto-fill,200px);
  grid-gap: 10px;
}

.card{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card::before{
  content: "";
  display: block;
  padding-top: 100%;
}
